<% content_for :title, t("ticket_types.new") %>

<header class="page-header">
  <div>
    <div class="page-header__eyebrow"><%= link_to "← #{t('navigation.ticket_types', default: 'Типы тикетов')}", ticket_types_path %></div>
    <h1 class="page-header__title m-0"><%= t("ticket_types.new") %></h1>
  </div>
</header>

<%= render "form", ticket_type: @ticket_type %>
