<% content_for :title, @invoice.number %>

<header class="page-header">
  <div>
    <div class="page-header__eyebrow"><%= link_to "← #{@invoice.number}", invoice_path(@invoice) %></div>
    <h1 class="page-header__title m-0"><%= t("invoices.edit", default: "Редактировать счёт") %></h1>
  </div>
</header>

<%= render "form", invoice: @invoice %>
