<% content_for :title, t("knowledge.new", default: "Новая статья") %>

<header class="page-header">
  <div>
    <div class="page-header__eyebrow"><%= link_to "← #{t('settings.tabs.kb', default: 'База знаний')}", settings_knowledge_articles_path %></div>
    <h1 class="page-header__title m-0"><%= t("knowledge.new", default: "Новая статья") %></h1>
  </div>
</header>

<%= render "form", article: @article %>
