<% content_for :title, t("customers.new", default: "Новый клиент") %>

<header class="page-header">
  <div>
    <div class="page-header__eyebrow"><%= link_to "← #{t('navigation.customers', default: 'Клиенты')}", customers_path %></div>
    <h1 class="page-header__title m-0"><%= t("customers.new", default: "Новый клиент") %></h1>
  </div>
</header>

<%= render "form", customer: @customer %>
