<% content_for :title, @price_list.name %>

<header class="page-header">
  <div>
    <div class="page-header__eyebrow"><%= link_to "← #{t('settings.tabs.price_lists', default: 'Прайс-листы')}", settings_price_lists_path %></div>
    <h1 class="page-header__title m-0"><%= @price_list.name %></h1>
  </div>
</header>

<%= render "form", price_list: @price_list %>
